<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Tasks</h4>
        <p class="card-category">My tasks</p>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Название</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Категория</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Приоритет</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks; let i = index">
              <td>
                <div class="avatar-group mt-2">
                  {{i+1}}
                </div>
              </td>
              <td>
                <div class="avatar-group mt-2">
                  {{task.title}}
                </div>
              </td>
              <td>
                <div class="avatar-group mt-2">
                  {{task.category != null ? task.category.title : 'Без категории'}}
                </div>
              </td>
              <td class="align-middle">
                <div class="avatar-group mt-2">
                  {{task.priority != null ? task.priority.title : 'Без приоритета'}}
                </div>
              </td>
              <td class="align-middle">
                <div class="avatar-group mt-2">
                 {{task.date != null ? (task.date | date : 'short') : 'Без даты'}}
                </div>
              </td>
              <td>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    [checked]="task.completed"/>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
