<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-dark" id="sidenav-main">
  <div class="sidenav-header text-center align-middle">
    Категории
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div >
    <ul class="navbar-nav">
      <li
        class="nav-item"
        *ngFor="let category of categories"
        (click)="showTasksByCategory(category)"
      >
        <a
          class="nav-link text-white pointer"
          [class.active] = "selectedCategory === category"
        >
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          </div>
          <span class="nav-link-text ms-1">{{category.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
